/* https://microsoft.github.io/monaco-editor/ */
.mtk1 { color: #000000; }
.mtk2 { color: #FFFFFF; }
.mtk3 { color: #808080; }
.mtk4 { color: #FF0000; }
.mtk5 { color: #0451A5; }
.mtk6 { color: #0000FF; }
.mtk7 { color: #09885A; }
.mtk8 { color: #008000; }
.mtk9 { color: #DD0000; }
.mtk10 { color: #383838; }
.mtk11 { color: #CD3131; }
.mtk12 { color: #863B00; }
.mtk13 { color: #AF00DB; }
.mtk14 { color: #800000; }
.mtk15 { color: #E00000; }
.mtk16 { color: #3030C0; }
.mtk17 { color: #666666; }
.mtk18 { color: #778899; }
.mtk19 { color: #FF00FF; }
.mtk20 { color: #A31515; }
.mtk21 { color: #4F76AC; }
.mtk22 { color: #008080; }
.mtk23 { color: #001188; }
.mtk24 { color: #4864AA; }
.mtki { font-style: italic; }
.mtkb { font-weight: bold; }
.mtku { text-decoration: underline; }
